* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: #303030;
}
header {
  background-color: #000;
  font-weight: bold;
  color: #303030;
  position: fixed;
  width: 100vw;
}
header.active {
  background-color: rgba(183, 174, 165, 0.2);
  transition: 0.3s;
}
header.active a,
header.active p {
  color: #000;
}

.cont {
  max-width: 980px;
  margin: 0px auto;
}
/*---------------*/
[data-menu='button'] {
  display: none;
}

/*---------------*/
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nome {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #eee;
}
.links {
  display: flex;
  justify-content: space-around;
}
a {
  padding: 10px;
  margin-left: 20px;
  width: 100%;
  color: #eee;
}
.header a:hover {
  color: #aaa;
  cursor: pointer;
}
#home {
  background: url(./imagens/home.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.titulo {
  font-size: 3rem;
  padding-top: 100px;
  text-align: center;
}
.nextpage {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  animation: zigzag 3s infinite;
}
.nextpage a {
  margin: 0px;
}

#projetos {
  background: url(./imagens/projetos-fundo.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
}

.sub-titulo {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 3rem;
}

.cont-projetos {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}

.cont-projetos li {
  display: flex;
  align-items: center;
  background-color: #b7aea5;
  width: 300px;
  height: 40px;
  padding: 10px;
  margin: 0 40px 20px 0;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.cont-projetos li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #303030;
  border-radius: 50%;
  margin-right: 5px;
}
.cont-projetos li:hover {
  background-color: #303030;
  color: #d0cecc;
}
.cont-projetos a {
  color: #303030;
  margin: 0;
}
.cont-projetos a:hover {
  color: #d0cecc;
}
img {
  height: 100%;
  width: 100%;
}
.div-img-projeto {
  max-width: 400px;
  max-height: 500px;
  border-radius: 10px;
}

#sobre {
  background: url(./imagens/sobre-fundo.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
}

#sobre p {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 800px;
}
#sobre span {
  font-weight: bold;
}
.skils {
  display: flex;
  justify-content: flex-start;
}
.skils li {
  height: 30px;
  list-style: none;
  margin-right: 20px;
}
.skils li img {
  width: auto;
}

#contato {
  background: url(./imagens/contato-fundo.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
  text-align: right;
}

#contato p {
  margin-top: 50px;
}
.logo {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
#contato li {
  display: flex;
  align-items: flex-starts;
  justify-content: flex-end;
}

.links-contato li {
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(183, 174, 165, 0.9);
}

.separador {
  background-color: rgba(183, 174, 165, 0.9);
  width: 100%;
  height: 10px;
}

@keyframes zigzag {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1024px) {
  #projetos .sub-titulo {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .cont {
    padding: 20px;
  }
  #sobre p {
    max-width: 600px;
  }
  #contato {
    background: url(./imagens/contato-fundo.jpg) center right no-repeat;
  }
}

@media (max-width: 500px) {
  .div-img-projeto {
    display: none;
  }

  .header ul {
    margin-left: 0px;
  }
}

@media (max-width: 700px) {
  .nextpage {
    display: none;
  }
  [data-menu='button'] {
    display: flex;
    align-items: center;
    background-color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    z-index: 201;
  }
  [data-menu='button']::before {
    margin-right: 5px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0px 4px #fff, 0px -4px #fff;
    transition: 0.3s;
  }
  [data-menu='button'].active::before {
    transform: rotate(270deg);
  }

  [data-menu='list'] {
    position: absolute;
    right: 0;
    display: none;
    margin-top: 275px;
    background-color: #d0cecc;
    color: #000;
    z-index: 200;
    text-align: right;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  [data-menu='list'] a {
    font-size: 2rem;
    padding-right: 30px;
  }
  [data-menu='list'] li {
    margin-bottom: 20px;
  }

  [data-menu='list'].active {
    display: block;
    animation: animaDown 0.3s forwards;
  }
  @keyframes animaDown {
    from {
      transform: translateY(-50px);
    }
    top {
      transform: translateY(initial);
    }
  }
}
